/*SITE WIDE STYLES*/
body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  background-color: white;
  border: 20px solid;
  border-color: black;
}

.main-nav ul li{
  display: inline;
  font-size: 20px;
}

.main-nav {
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
  letter-spacing: 0.4em;
}

.nav-border {
  padding: 10px;
}

.nav-border:hover {
  border-width: 1px;
  border-style: solid;
  border-color: #cc3700;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: grey;
}

a:active {
  color: gold;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  position: relative;
}

.footer .credits {
  font-family: 'Lato', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 13px;
  margin: 0;
}

.footer .social-area ul{
  display: block;
  width: 100%;
  padding: 0 25%;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .social-area ul li {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  line-height: 50px;
}

.footer .social-area ul li a {
  font-family: 'Lato', 'HelveticaNeue', helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
}

.footer .shr-btn-twitter:after {
  background: #00aced;
}
/*END SITE-WIDE STYLES*/

div.btn-link {
  display: inline;
}

#bio {
  height: 50%;
  width: auto;
}

.icon {
  display: inline-flex;
  text-align: center;
}

#landingName {
  font-size: 50px;
  font-weight: bolder;
  color: grey;
  text-align: center;
}

#home-image {
  height: 100%;
  width: 100%;
}

.hide-blog {
  display: none;
}

.show-blog {
  display: block;
}

.blog-button {
  color: red;
  background-color: green;
}

.contact {
  display: table;
}

.about {
  width: 400px;
  text-align: center;
}

.page-footer {
  bottom:0;
  text-align: center;
  width:100%;
  height:60px;
  position: absolute;
}

.home-logo{
  display: inline-flex;
  width: 600px;
  height: 450px;
}

/*PROJECTS*/
.project-tile{
  max-width: 340px;
  min-width: 340px;
  float: left;
  margin 10px;
  justify-content: center;
  opacity: .9;
  text-align: center;
}

.project-image {
  height: 300px;
  width: 330px;
  border-radius: 10px;
}

.project-container {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.summary {
  width: 300px;
  margin: 10px auto;
  display: inline-block;
  justify-content: space-around;
}

/*.summary-left {
  float: left;
  display: block;
  width: 50%;
  height: 830px;
}

.summary-right {
  float: right;
  display: block;
  width: 50%;
}

.summarty-text {
  width: 80%;
}*/

.contain-summaries {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

#blog-divider {
  border-top: 1px solid #BABABA;
  margin-top: 40px;
}

/*BLOG*/
.contain-blog {
  max-width: 800px;
}

.blog-tile {
  width: 75%;
}

/*END BLOG*/
@media screen and (min-width: 200px;) and (max-width: 500px;){
  .project-image {
    height: 300px;
    width: 330px;
    margin-right: auto;
    display: block;
    margin-left: auto;
    align-self: center;
    border-radius: 10px;
  }

  .project-tile{
    opacity: .9;
  }
}
