body {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.flexbox {

	display: flex;
	flex-direction: row;
	justify-content: center;
}
.flex-container {
	height: 750px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*.flexbox {
  justify-content: center;
}
.flex-container {
    display:flex;
    height: 500px;
    width: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}*/

.landingName {
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
}
.page-footer {
  position: fixed;
  text-align: center;
  font-weight: 200;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}

h1{
  text-align: center;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

div {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  align-items: center;
}
